body {
  margin: 0%;
}
.header {
  background-color: #fbbc05;
  margin: 0%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0.5%;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.account {
  float: right;
  padding-right: 10px;
}

button {
  /* background-color: #fbbc05; */
  color: white;
}

.bulb {
  color: #fff;
  rotate: 180deg;
}

.footer {
  width: 100%;
  color: rgb(177, 176, 176);
  text-align: center;
}
.createInputField {
  width: 100%;
}
.createContainer {
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 10px;
  text-align: right;
}
